*{  
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    align-items: center;
    justify-content: space-around;
}

#heading{
    font-weight: 900;
    font-size: 70px;    
    /* color:#483D8B; */

}
.image-container{
    display: flex;
    flex-wrap: wrap;
    max-width: 70%;
    gap: 23px;
}


.only-container{
    width: 20vw;
    height: 20vw;
    transition: transform 0.5s ease;
    border: 0.5px solid white;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.images{
    width: 100%;
    height: 100%;
}
span{
    position:absolute;
    top: 10px;
    z-index: 10;
    right: 10px;
    color: white;
    opacity: 0;
    font-size: 22px;
    transition: all 0.5s ease;
}
.only-container:hover span{
    opacity: 1;
}
.only-container:hover{
    transform: scale(1.06);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
    filter: grayscale(100%)
}
 @media (min-width: 540px) and (max-width: 920px){
    .only-container{
        width: 30vw;
        height: 30vw; 
    }
}

@media(max-width: 540px){
 
    .only-container{
        width: 40vw;
        height: 40vw; 
    }
}
}
